# Local env
.env
.env.local

# Docker volumes
.localstack/
.minio/

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini
.DS_Store

# Pipeline
pipeline/venv/
**/venv/
**/__pycache__/
pipeline/lambda_ingestion/package/
pipeline/*/package/
*.zip
output.json
output2.json
**/output*.json
